table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
    width: 1117px;
  }
  
  th, td {
    padding: 1em;
    background: rgb(155, 151, 151);
    border-bottom: 2px solid black; 
  }

th{
    color: black;
    text-decoration: none;
}

h1{
    color: black;
    text-align: center;
    text-decoration: none;
}
body{
    background-color:black;
}
